.alert {
    padding: 10px; /* Padding for spacing inside the message box */
    margin-bottom: 15px; /* Margin at the bottom to create space between the message and other content */
    border-radius: 4px; /* Rounded corners for a softer look */
}

.alert.success {
    color: #3c763d;
    border: 1px solid #3c763d;
    background-color: #dff0d8;
}

.alert.error {
    color: red;
    border: 1px solid red;
    background-color: #ffdede;
}

.alert.info {
    color: rgb(77, 103, 190);
    border: 1px solid rgb(77, 103, 190);
    background-color: #d0e1f5;
}

<<<<<<< HEAD


=======
>>>>>>> 82f404c80b14f626acef3dd6e45938912b7c3c5e
/* CSS for character.html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}
<<<<<<< HEAD
=======

>>>>>>> 82f404c80b14f626acef3dd6e45938912b7c3c5e
