<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Information</title>
</head>
<body>
    <h1>{{ character_stats.name }}</h1>
    <p><strong>Race:</strong> {{ character_stats.race }}</p>
    <p><strong>Stats:</strong></p>
    <ul>
        <li><strong>Smartness:</strong> {{ character_stats.smartness }}</li>
        <li><strong>Buffness:</strong> {{ character_stats.buffness }}</li>
        <li><strong>Beefyness:</strong> {{ character_stats.beefyness }}</li>
        <li><strong>Speediness:</strong> {{ character_stats.speediness }}</li>
    </ul>
    <p><strong>Equipped Item:</strong> {{ character_stats.equipped_item }}</p>

    <form action="/redirect/character/inventory" method="post">
        <input type="text" id="charID" name="charID" value="{{character_stats[6]}}" required hidden>
        <input type="submit" value="View Inventory">
    </form>

    <form action="/characters" method="get">
        <input type="submit" value="Return to Characters">
    </form>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

</body>
</html>
