<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of All Characters</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script>
        function toggleAttributes(characterId) {
            var attributes = document.getElementById('attributes-' + characterId);
            attributes.classList.toggle('hidden');
        }
    </script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Display all characters -->
    <h2>List of All Characters</h2>

    <!-- test code -->
    <!-- Button to redirect to add new character -->
    <a href="{{ url_for('add_character') }}" class="add-character-button">Add New Character</a>

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Show All Attributes</th>
            </tr>
        </thead>
        <tbody>
            {% for character in user_characters %}
            <tr>
                <td>{{ character[0] }}</td>
                <td>{{ character[1] }}</td>
                <td><button onclick="toggleAttributes('{{ character[0] }}')">Show All Attributes</button></td>
            </tr>
            <tr id="attributes-{{ character[0] }}" class="hidden">
                <td colspan="3">
                    <strong>Beefiness:</strong> {{ character[2] }}<br>
                    <strong>Buffness:</strong> {{ character[3] }}<br>
                    <strong>Smartness:</strong> {{ character[4] }}<br>
                    <strong>Speediness:</strong> {{ character[5] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>