<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Owned Items</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Code for adding a new item -->
    <h2>Add New Character</h2>
    <form action="/new-item" method="post">
        <!-- First Name -->
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required>
        <br>
        <!-- Last Name -->
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required>
        <br>
        <!-- Beefiness -->
        <label for="beefiness">Beefiness:</label>
        <input type="number" id="beefiness" name="beefiness" required>
        <br>
        <!-- Buffness -->
        <label for="buffness">Buffness:</label>
        <input type="number" id="buffness" name="buffness" required>
        <br>
        <!-- Smartness -->
        <label for="smartness">Smartness:</label>
        <input type="number" id="smartness" name="smartness" required>
        <br>
        <!-- Speediness -->
        <label for="speediness">Speediness:</label>
        <input type="number" id="speediness" name="speediness" required>
        <br>

        <!-- Submit Button -->
        <input type="submit" value="Submit">
    </form>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>
