<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Owned Items</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Code for adding a new item -->
    <h2>Add New Item</h2>
    <form action="/new-item" method="post">
        <!-- Name -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <!-- Quantity -->
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
        <br>
        <!-- Submit Button -->
        <input type="submit" value="Submit">
    </form>

    <!-- Code for listing owned items -->
    <h2>List of Owned Items</h2>
    <ul>
        <!-- This is some python jinja2 code. Only existing items will be displayed. -->
        {% for item in items %}
            <li>Name: {{ item[0] }} - Quantity: {{ item[1] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
